#Data directories
*.zip
data/**/*
SourceSeparation/*_output/**/*
f0est/f0Contour_voice_PESTO/*.csv


.venv/

.DS_Store

#python cache 
*.pyc
*.requirements.txt

#Models
SourceSeparation/pretrained_models/**/*

#Examples
*.sv