#Data directories
*.zip
data/**/*


#Intermediate computed files
SourceSeparation/*_output/**/*
f0est/**/*.csv
noteTranscription/**/*.notes.csv
evaluation/results/*.csv


#Envorinment
.venv/

.DS_Store

#python cache 
*.pyc
*.requirements.txt

#Models
SourceSeparation/pretrained_models/**/*
pretrained_models/**/*

#Examples
*.sv