#Data directories
*.zip
data/**/*

SourceSeparation/*_output/**/*
SourceSeparation/pretrained_models/**/*

.venv/

.DS_Store

#python cache 
*.pyc
*.requirements.txt

#
SourceSeparation/wav_f0_paths_mapping.csv


f0est/f0Contour_PESTO/*.csv